<body>
    <form action="/addImovel" method="POST" enctype="multipart/form-data">
        <div>
            <input type="text" name="descricao" placeholder="Descricao">
        </div>
        <div>
            <input type="text" name="telefone" placeholder="Telefone">
        </div>
        <div>
            <input type="text" name="valor" placeholder="Valor">
        </div>
        <div>
            <input type="text" name="cep" id="cep" placeholder="CEP">
        </div>
        <div>
            <input type="text" name="estado" placeholder="Estado">
        </div>
        <div>
            <input type="text" name="cidade" placeholder="Cidade">
        </div>
        <div>
            <input type="text" name="bairro" placeholder="Bairro">
        </div>
        <div>
            <input type="text" name="rua" placeholder="Rua">
        </div>
        <div>
            <input type="text" name="numero" placeholder="Numero">
        </div>
        <div>
            <input type="file" name="arquivo" multiple>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Adicionar imóvel</button>
        </div>
      </form>
</body>
<script>
    document.getElementById('cep').addEventListener('blur', function () {
        const cep = this.value;
    
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then((response) => response.json())
          .then((data) => {
            document.querySelector('input[name="estado"]').value = data.uf;
            document.querySelector('input[name="cidade"]').value = data.localidade;
            document.querySelector('input[name="bairro"]').value = data.bairro;
            document.querySelector('input[name="rua"]').value = data.logradouro;
          })
          .catch((error) => {
            console.error('Erro ao buscar o endereço:', error);
          });
      });
</script>