<ul class="my-5"> 
    <% imovelCompleto.forEach(imovelCompleto => { %> 
        <li class="mx-2 mt-3">
            
            <div class="card" style="width: 18rem; height: 13rem;">
                <div class="card-img-top">
                    <div class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% for (let i = 0; i < imovelCompleto.imagens.length; i++) { %>
                                <div class="<%- i == 0 ? 'carousel-item active' : 'carousel-item' %> " style="height: 10rem;">
                                    <img src="uploads/<%- imovelCompleto.imagens[i].imagem %>" class="d-block w-100" alt="Imagem <%= i %>">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                    <div class="card-body">
                    <p class="card-text"><%- imovelCompleto.imovel.descricao %></p>
                    </div>
            </div>
        </li> 
    <% }); %> 
    
</ul> 