<h1 class="mt-5">MONOPOLY</h1>
<form action="/login" method="post">
  <div class="mt-3">
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="mt-3">
    <input type="password" class="form-control" name="senha" placeholder="Senha">
  </div>
  <div class="mt-3">
    <input type="submit" class="btn btn-dark" name="login" placeholder="Login">
  </div>
</form>
<a class="mt-3" href="/cadastro" style="color: inherit;"><p>não possui conta?<br> cadastre-se aqui!</p></a>