<h1>Login</h1>
<form action="/login" method="post">
  <div>
    <input type="text" name="email" placeholder="Email">
  </div>
  <div>
    <input type="text" name="senha" placeholder="Senha">
  </div>
  <div>
    <input type="submit" name="login" placeholder="Login">
  </div>
</form>
<a href="/cadastro"><p>cadastrar!</p></a>